/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d2a692;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.encabezado-principal {
    background-color: #d2a692;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1);
}
.contenedor-navegacion {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-navegacion {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.menu-navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.boton-reserva a {
    background-color: #e06e5f;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

/* Sección restaurante */
.seccion-restaurante {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('huevo1.jpg') no-repeat center center/cover;
    animation: deslizar 15s infinite;
    position: relative;
    text-align: center;
}
.contenido h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4.5em;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.3);
    text-align: center;
}
.contenido p {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
}

/* Botón general */
.boton {
    background-color: #e06e5f;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
}

/* Sección Nosotros */
.seccion-nosotros {
    min-height: 100vh;
    padding: 100px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #d2a692;
    color: #ffffff;
    text-align: center; 
}
.seccion-nosotros h2 {
    font-family: serif;
    font-size: 3.5em;
    font-style: italic;
    margin-bottom: 40px;
    max-width: 1000px;
}
.seccion-nosotros p {
    font-size: 1.4em;
    line-height: 1.8;
    max-width: 1000px;
    margin: 0 auto;
}

/* Sección Menú */
.seccion-menu {
    padding: 80px 20px;
    color: #ffffff;
    text-align: center;
}
.seccion-menu h3 {
    font-family: serif;
    font-size: 3em;
    margin-bottom: 30px;
}

/* Sección Tacos */
.seccion-tacos {
    background-color: #d2a692;
    padding: 50px 0;
    text-align: center;
}
.seccion-tacos h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.contenedor-tacos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.taco-item {
    background-color: #e06e5f;
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.3s ease;
    color: #ffffff;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taco-item img {
    width: 100%;
    height: 200px; 
    border-radius: 10px;
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

/* Animación de fondo */
@keyframes deslizar {
    0% { background-image: url('huevo1.jpg'); }
    25% { background-image: url('taco_al_pastor.jpg'); }
    50% { background-image: url('nachos1.jpg'); }
    75% { background-image: url('taco_de_carnitas.jpg'); }
    100% { background-image: url('burrito.jpg'); }
}

/* Sección Ubicación */
.seccion-ubicacion {
    padding: 50px 5%;
    text-align: center;
    background-color: #d2a692;
}
.contenedor-ubicacion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.contact-info, .opening-hours  {
    background-color: #d2a692;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 280px; /* Mínimo ancho para mejor responsividad */
}
.map-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d2a692;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.map-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}


/* Contenedor general */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #d2a692;
}
h1, h2, h3 {
    text-align: center;
    margin-bottom: 1rem;
}
nav {
    text-align: center;
    margin-bottom: 2rem;
}
nav a {
    text-decoration: none;
    color: #333;
    margin: 0 1rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #814f4f;
}

/* Sección Platos Destacados */
.seccion-platos-destacados {
    padding: 50px 5%;
    background-color: #d9b9a3;
    color: #333333;
    text-align: center;
}
.seccion-platos-destacados h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #5e3c2a;
}
.contenedor-platos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}
.plato-item {
    display: flex;
    align-items: center;
    background-color: #f2d1b3;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    color: #333;
}
.plato-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.plato-info {
    flex: 1;
    text-align: left;
}
.plato-nombre {
    font-weight: bold;
    font-size: 1.2em;
    color: #5e3c2a;
}
.plato-descripcion {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
}
.plato-precio {
    font-weight: bold;
    color: #8b4513;
    font-size: 1.1em;
    float: right;
}



.fondo-menu {
    background: url('burrito.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fondo-menu h1 {
    font-size: 4rem; /* Adjust the size to your preference */
    color: white;
    font-family: 'Playfair Display', serif; /* Or another cursive font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a shadow for contrast */
    margin: 0;
}


.fondo-contacto {
    background: url('enchiladas.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fondo-contacto h1 {
    font-size: 4rem; /* Adjust the size to your preference */
    color: white;
    font-family: 'Playfair Display', serif; /* Or another cursive font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a shadow for contrast */
    margin: 0;
}


.fondo-nosotros {
    background: url('quesadillas.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fondo-nosotros h1 {
    font-size: 4rem; /* Adjust the size to your preference */
    color: white;
    font-family: 'Playfair Display', serif; /* Or another cursive font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a shadow for contrast */
    margin: 0;
}



/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-navegacion {
        flex-direction: column;
        align-items: center;
    }
    .menu-navegacion {
        flex-direction: column;
        gap: 1rem;
    }
    .menu-navegacion a {
        font-size: 1.1rem;
    }
    .boton-reserva {
        margin-top: 10px;
    }
    /* Sección de ubicación */
    .contenedor-ubicacion {
        flex-direction: column;
        gap: 20px;
    }
}
